# Using a Datetime Index

Python provides a built-in date time function.  Once a datetime object is created, it can be used as an index (row label) for data.  The purpose of this notebook is to provide an introduction to this type of object and its use as an index.

This notebook was written using version 3.7.3 of Python.

### Importing the Necessary Packages

The first step in working with time series data is loading the necessary software packages, especially the pandas package.

In [1]:
# Import the data handling packages
import pandas as pd
import numpy as np

In [2]:
# Import the visualization packages
import matplotlib.pyplot as plt

# Ensure the visualizations will work within this notebook
%matplotlib inline

In [3]:
# Import a warnings package to ignore/suppress warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Import the package for using datetime objeccts
from datetime import datetime

### Working with Datetime Objects

Before creating a datetime index, we first need to create a datetime object.  While dates and times will typically be provided within a dataset (such as from Yahoo Finance or FRED), this section walks through the creation of these objects to provide a better illustration of the components of a datetime object.

First, we'll create variables that contain information about the month, day, year, etc.  Then, we'll use these variables to create a datetime object.

In [5]:
# Setup the variables needed to capture month, day, year, etc.
year = 2018
month = 9
day = 24
hour = 12
minute = 30
second = 15

In [6]:
# Use these variables to create a datetime object called "date"
date = datetime(year, month, day)

In [7]:
# View the date information
date

datetime.datetime(2018, 9, 24, 0, 0)

In [8]:
# Use these variables to create a datetime objected called "date_and_time"
date_and_time = datetime(year, month, day, hour, minute, second)

In [9]:
# View the date and time information
date_and_time

datetime.datetime(2018, 9, 24, 12, 30, 15)

Once information is structured as a datetime object, this type of object has methods to help us retrieve portions of the date and time.  Below are some examples of these functions.

In [10]:
# Retrieve just the year from the "date_and_time" object
date_and_time.year

2018

In [11]:
# Retrieve just the month from the "date_and_time" object
date_and_time.month

9

In [12]:
# Retrieve just the day from the "date_and_time" object
date_and_time.day

24

In [13]:
# Retrieve just the hour from the "date_and_time" object
date_and_time.hour

12

In [14]:
# Retrieve just the minute from the "date_and_time" object
date_and_time.minute

30

In [15]:
# Retrieve just the seconds from the "date_and_time" object
date_and_time.second

15

Using these methods can help us to group data by one of these attributes.  For example, we could group all the data by month.  Or we could group all the data for a year.  This can be very helpful when working to create a subset of data for analysis purposes.

### Creating a datetime Index

Once a datetime object is available, we can use the pandas library to handle the datetime object and convert into a datetime index.  Usually, in a real-world scenario, most financial data will have a datetime object in the dataset.  This data can be retrieved using a package (like yahoofinancials or fredapi) or by loading a CSV file.

We usually deal with the time series as the index for the DataFrame created from our dataset.  Fortunately, pandas has a lot of functions and methods for working with time series data.

In this example, we will create some datetime objects and then covert these objects into a datetime index.

In [16]:
# Create a list (named "date_list") that includes a couple of examples of datetime objects
date_list = [datetime(2018, 9, 24), datetime(2016, 9, 25)]

# View the list of dates in date_list
date_list

[datetime.datetime(2018, 9, 24, 0, 0), datetime.datetime(2016, 9, 25, 0, 0)]

In [17]:
# Convert the list of dates into a datetime index called date_dt
date_dt = pd.DatetimeIndex(date_list)

# View the datetime index
date_dt

DatetimeIndex(['2018-09-24', '2016-09-25'], dtype='datetime64[ns]', freq=None)

Once the index has been created, we can use this index to create a DataFrame.  In the example below, we use the index and add random numbers for each index.

In [18]:
# Create a set of random data
data = np.random.randn(2, 2)

# View the random data
data

array([[ 0.07489784, -0.01384147],
       [ 0.71707173, -0.20065707]])

In [19]:
# Create a DataFrame that uses date_dt as the index and the array of random numbers for the values
data_df = pd.DataFrame(data, date_dt, columns=["X", "Y"])

# View the resulting DataFrame
data_df

                   X         Y
2018-09-24  0.074898 -0.013841
2016-09-25  0.717072 -0.200657

### Converting Existing Data to Datetime Objects

A common part of financial datasets is a date/timestamp.  This data may be a column within the dataset or the index.  We may need to convert this information to a datetime object before it can be converted to a datetime index.  Below are some examples for handling date/time information that appears within a dataset.

In the first example, we will obtain Apple stock information from Yahoo Finance.  Using this information, we'll determine the typical format for this data and how to convert the dates into datetime objects and then a datetime index.

In [20]:
# Import the YahooFinancials package so that it can be used within the notebook
from yahoofinancials import YahooFinancials as yfin

In [21]:
# Get financial information for the companies identified
# This creates a YahooFinancials object called "fin_data_appl" that contains information
fin_data_aapl = yfin ("AAPL")

In [22]:
# Retrieve historical market data for the company and store the information in an object called "stock_appl"
stock_aapl = fin_data_aapl.get_historical_price_data (start_date = "2010-01-01", 
                                                      end_date = "2018-01-01", 
                                                      time_interval = "monthly")

In [23]:
# We can create a DataFrame from the list of prices for AAPL stock
# The DataFrame object will be called "aapl_stock"
aapl_stock = pd.DataFrame(stock_aapl["AAPL"]["prices"])

In [24]:
# View several of the Apple stock prices within the aapl_stock DataFrame
aapl_stock.head()

,adjclose,close,date,formatted_date,high,low,open,volume
0,23.816572,27.437143,1262322000,2010-01-01,30.798571,27.178572,30.490000,3792248600
1,25.374073,29.231428,1265000400,2010-02-01,29.309999,27.264286,27.481428,2694020000
2,29.141371,33.571430,1267419600,2010-03-01,33.925713,29.350000,29.392857,3038543200
3,32.376675,37.298573,1270094400,2010-04-01,38.922855,33.250000,33.915714,3091782400
4,31.854618,36.697144,1272686400,2010-05-01,38.268570,28.464285,37.691429,4520663700

In [25]:
# View information about the DataFrame that contains stock prices for Apple
aapl_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 8 columns):
adjclose          96 non-null float64
close             96 non-null float64
date              96 non-null int64
formatted_date    96 non-null object
high              96 non-null float64
low               96 non-null float64
open              96 non-null float64
volume            96 non-null int64
dtypes: float64(5), int64(2), object(1)
memory usage: 6.1+ KB

Based on this output, the formatted_date column (which is the closest thing to a complete date that we have within the dataset) is identified as an object.  We need to make this object a datetime object and then convert it into a datetime index.  Below is the code needed to perform these operations.

In [26]:
# Change the name of the formatted_date column to "Date"
aapl_stock = aapl_stock.rename(columns={"formatted_date":"Date"})

# Make the formatted_date column a datetime object within the aapl_stock DataFrame
# Note that it is important that the format keyword match the format of the dates in the formatted_date column
aapl_stock["Date"] = pd.to_datetime(aapl_stock["Date"], format="%Y-%m-%d")

# View the information in the aapl_stock DataFrame
aapl_stock.head()

,adjclose,close,date,Date,high,low,open,volume
0,23.816572,27.437143,1262322000,2010-01-01,30.798571,27.178572,30.490000,3792248600
1,25.374073,29.231428,1265000400,2010-02-01,29.309999,27.264286,27.481428,2694020000
2,29.141371,33.571430,1267419600,2010-03-01,33.925713,29.350000,29.392857,3038543200
3,32.376675,37.298573,1270094400,2010-04-01,38.922855,33.250000,33.915714,3091782400
4,31.854618,36.697144,1272686400,2010-05-01,38.268570,28.464285,37.691429,4520663700

In [27]:
# View information about the DataFrame that contains stock prices for Apple
aapl_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 8 columns):
adjclose    96 non-null float64
close       96 non-null float64
date        96 non-null int64
Date        96 non-null datetime64[ns]
high        96 non-null float64
low         96 non-null float64
open        96 non-null float64
volume      96 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 6.1 KB

Notice that the data type for the formatted_date column has changed to a datetime object.  The next step is to convert this object to a datetime index.

In [28]:
# Change the index of the aapl_stock DataFrame to the information in the Date column
aapl_stock = aapl_stock.set_index("Date")

# View the first several records in the aapl_stock DataFrame
aapl_stock.head()

,adjclose,close,date,high,low,open,volume
Date,,,,,,,
2010-01-01,23.816572,27.437143,1262322000,30.798571,27.178572,30.490000,3792248600
2010-02-01,25.374073,29.231428,1265000400,29.309999,27.264286,27.481428,2694020000
2010-03-01,29.141371,33.571430,1267419600,33.925713,29.350000,29.392857,3038543200
2010-04-01,32.376675,37.298573,1270094400,38.922855,33.250000,33.915714,3091782400
2010-05-01,31.854618,36.697144,1272686400,38.268570,28.464285,37.691429,4520663700

In [29]:
# View information about the DataFrame that contains stock prices for Apple
aapl_stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96 entries, 2010-01-01 to 2017-12-01
Data columns (total 7 columns):
adjclose    96 non-null float64
close       96 non-null float64
date        96 non-null int64
high        96 non-null float64
low         96 non-null float64
open        96 non-null float64
volume      96 non-null int64
dtypes: float64(5), int64(2)
memory usage: 6.0 KB

Note that the information from the Date datetime object has now been converted to a datetime index.

In the second example, we will obtain from data from FRED.org.  In this example, we will see that, by importing the data directly from FRED, we have less work to do to setup a datetime index.

In [30]:
# Import the fredapi package
from fredapi import Fred

# Create a Fred object that is linked to the appropriate API key
fred = Fred(api_key="aaa26172cecec292c14f9fac47c826af")

In [31]:
# Pull the data from the FRED database for the NASDAQ Composite Index
# Store the data in an object called "nasdaq_data"
nasdaq_data = fred.get_series ("NASDAQCOM")

In [32]:
# Convert the pandas Series to a DataFrame and include a column header
# Store this DataFrame in an object called "nasdaq_df"
nasdaq_df = pd.DataFrame(nasdaq_data, columns=["NASDAQ"])

In [33]:
# Review information about the DataFrame that contains the FRED data
nasdaq_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12803 entries, 1971-02-05 to 2020-03-03
Data columns (total 1 columns):
NASDAQ    12378 non-null float64
dtypes: float64(1)
memory usage: 200.0 KB

Based on this information, the dates are already set as a datetime index.  As a result, no specific steps need to be taken to convert the index of this DataFrame to a datetime index.

# References
> (c) 2019 Yves Hilpisch. Code included in _Python for Finance: Mastering Data-driven Finance_ (Second Edition). Yves Hilpisch. 2019.
>
> (c) 2019 Galit Shmueli, Peter C. Bruce, Peter Gedeck.  Code included in _Data Mining for Business Analytics: Concepts, Techniques, and Applications in Python_ (First Edition). Galit Shmueli, Peter C. Bruce, Peter Gedeck, and Nitin R. Patel. 2019.